{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}


{% block body %}
    <div class="col-md-12 d-flex justify-content-center">
        <div class="card-body card-password col-md-6 d-flex justify-content-center">
            <div>
                <h1>Mot de passe oublié</h1>
                {{ form(emailForm) }}
            </div>
        </div>
    </div>
{% endblock %}