{% extends 'base.html.twig' %}

{% block title %}Hello OfferController!{% endblock %}

{% block body %}
    <div class="text d-flex justify-content-center">
        <h1>Comment ça marche ?</h1>
    </div>
    <div class="d-flex justify-content-center number">
        <div class="number1">
            <p>2</p>
        </div>
    </div>
    <div class="formules text-formules d-flex justify-content-center">
        <b><p>FORMULES* AU CHOIX</p></b>
    </div>
    <div class="col-md-12 d-flex justify-content-around row cards">
        <div class="col-md-3 card-body card-offer">
            <div class="d-flex justify-content-center">
                <h2>FORMULE BICYCLE</h2>
            </div>
            <div class="d-flex justify-content-center price">
                <p>12€</p>
            </div>
            <div class="d-flex justify-content-center">
                <p>7kg de linge</p>
            </div>
            <div class="d-flex justify-content-center">
                <p>Lavé, séché, PLIÉ & livré</p>
            </div>
        </div>
        <div class="col-md-3 card-body card-offer">
            <div class="d-flex justify-content-center">
                <h2>FORMULE TRICYCLE</h2>
            </div>
            <div class="d-flex justify-content-center price">
                <p>15€</p>
            </div>
            <div class="d-flex justify-content-center">
                <p>7kg de linge</p>
            </div>
            <div class="d-flex justify-content-center">
                <p>Lavé, séché, REPASSÉ & livré</p>
            </div>
        </div>

    </div>
    <div class="col-md-12 instruction">
        <div class="d-flex justify-content-center icon">
            <i class="fas fa-mobile-alt fa-3x"></i>
        </div>
        <div class="d-flex justify-content-center text2">
            <p>Vous nous appelez au 06 23 37 94 61</p>
        </div>
        <div class="d-flex justify-content-center icon">
            <i class="fas fa-shopping-basket fa-3x"></i>
        </div>
        <div class="d-flex justify-content-center text2">
            <p>Nous convenons ensemble d'un point de collecte ainsi que d'une date et une heure de retour de votre
                panière*</p>
        </div>
        <div class="d-flex justify-content-center icon">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                 width="64" height="64"
                 viewBox="0 0 172 172"
                 style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#b3572e"><path d="M24.1875,5.375c-4.56665,0 -8.0625,3.49585 -8.0625,8.0625v139.75c0,4.56665 3.49585,8.0625 8.0625,8.0625h123.625c4.56665,0 8.0625,-3.49585 8.0625,-8.0625v-139.75c0,-4.56665 -3.49585,-8.0625 -8.0625,-8.0625zM24.1875,10.75h123.625c1.6167,0 2.6875,1.0708 2.6875,2.6875v2.6875h-10.75c-2.96045,0 -5.375,2.41455 -5.375,5.375v10.75c0,2.96045 2.41455,5.375 5.375,5.375h10.75v115.5625c0,1.6167 -1.0708,2.6875 -2.6875,2.6875h-123.625c-1.6167,0 -2.6875,-1.0708 -2.6875,-2.6875v-139.75c0,-1.6167 1.0708,-2.6875 2.6875,-2.6875zM32.25,16.125c-2.97095,0 -5.375,2.40405 -5.375,5.375c0,2.97095 2.40405,5.375 5.375,5.375c2.97095,0 5.375,-2.40405 5.375,-5.375c0,-2.97095 -2.40405,-5.375 -5.375,-5.375zM48.375,16.125c-2.97095,0 -5.375,2.40405 -5.375,5.375c0,2.97095 2.40405,5.375 5.375,5.375c2.97095,0 5.375,-2.40405 5.375,-5.375c0,-2.97095 -2.40405,-5.375 -5.375,-5.375zM120.9375,21.5c-1.6167,0 -2.6875,1.0708 -2.6875,2.6875c0,1.6167 1.0708,2.6875 2.6875,2.6875h5.375c1.6167,0 2.6875,-1.0708 2.6875,-2.6875c0,-1.6167 -1.0708,-2.6875 -2.6875,-2.6875zM139.75,21.5h10.75v10.75h-10.75zM29.5625,32.25c-1.6167,0 -2.6875,1.0708 -2.6875,2.6875c0,1.6167 1.0708,2.6875 2.6875,2.6875h10.75c1.6167,0 2.6875,-1.0708 2.6875,-2.6875c0,-1.6167 -1.0708,-2.6875 -2.6875,-2.6875zM51.0625,32.25c-1.6167,0 -2.6875,1.0708 -2.6875,2.6875c0,1.6167 1.0708,2.6875 2.6875,2.6875h75.25c1.6167,0 2.6875,-1.0708 2.6875,-2.6875c0,-1.6167 -1.0708,-2.6875 -2.6875,-2.6875zM83.3125,43c-25.2583,0 -45.6875,20.4292 -45.6875,45.6875c0,25.2583 20.4292,45.6875 45.6875,45.6875c12.62915,0 24.7229,-5.375 33.3313,-14.5188c1.0708,-1.0708 1.0708,-2.6875 -0.27295,-3.7583c-1.34375,-1.0708 -2.6875,-1.0708 -3.7583,0c-7.5271,8.0625 -18.2771,12.9021 -29.5625,12.9021c-22.30835,0 -40.3125,-18.00415 -40.3125,-40.3125c0,-22.30835 18.00415,-40.3125 40.3125,-40.3125c22.29785,0 40.3125,18.00415 40.3125,40.3125v2.94995c0,1.6167 1.0708,2.6875 2.41455,2.96045c1.6167,0 2.6875,-1.0708 2.96045,-2.41455v-3.49585c0.26245,-25.2583 -20.16675,-45.6875 -45.42505,-45.6875zM83.3125,53.75c-12.62915,0 -24.46045,6.9812 -30.6438,18.00415c-0.5354,1.0708 -0.26245,2.42505 0.5459,3.2334c3.7583,3.48535 5.9104,8.32495 5.9104,13.69995c0,5.375 -2.1521,9.94165 -5.9104,13.69995c-0.80835,0.80835 -1.0813,2.1626 -0.5459,3.2334c6.18335,11.02295 18.01465,18.00415 30.6438,18.00415c19.3479,0 34.9375,-15.5896 34.9375,-34.9375c0,-19.3479 -15.5896,-34.9375 -34.9375,-34.9375zM83.3125,59.125c16.39795,0 29.5625,13.16455 29.5625,29.5625c0,16.39795 -13.16455,29.5625 -29.5625,29.5625c-10.2146,0 -19.3479,-5.10205 -24.99585,-13.69995c4.03125,-4.3042 6.18335,-9.95215 6.18335,-15.86255c0,-5.9104 -2.1521,-11.55835 -6.18335,-15.86255c5.375,-8.32495 14.78125,-13.69995 24.99585,-13.69995zM123.39404,101.15918c-1.0498,0.05249 -2.05762,0.76636 -2.45654,1.77417c-0.5354,1.34375 -1.0708,2.6875 -1.87915,4.03125c-0.5354,1.34375 -0.27295,2.94995 1.0708,3.48535c0.27295,0.27295 0.80835,0.27295 1.34375,0.27295c1.34375,0 2.1521,-0.5354 2.6875,-1.34375c0.80835,-1.34375 1.34375,-2.94995 1.88965,-4.56665c0.5354,-1.34375 -0.27295,-2.96045 -1.6167,-3.49585c-0.33594,-0.13647 -0.69287,-0.18897 -1.0393,-0.15747zM32.25,139.75c-1.6167,0 -2.6875,1.0708 -2.6875,2.6875v5.375c0,1.6167 1.0708,2.6875 2.6875,2.6875c1.6167,0 2.6875,-1.0708 2.6875,-2.6875v-5.375c0,-1.6167 -1.0708,-2.6875 -2.6875,-2.6875zM45.6875,139.75c-1.6167,0 -2.6875,1.0708 -2.6875,2.6875v5.375c0,1.6167 1.0708,2.6875 2.6875,2.6875c1.6167,0 2.6875,-1.0708 2.6875,-2.6875v-5.375c0,-1.6167 -1.0708,-2.6875 -2.6875,-2.6875zM59.125,139.75c-1.6167,0 -2.6875,1.0708 -2.6875,2.6875v5.375c0,1.6167 1.0708,2.6875 2.6875,2.6875c1.6167,0 2.6875,-1.0708 2.6875,-2.6875v-5.375c0,-1.6167 -1.0708,-2.6875 -2.6875,-2.6875zM72.5625,139.75c-1.6167,0 -2.6875,1.0708 -2.6875,2.6875v5.375c0,1.6167 1.0708,2.6875 2.6875,2.6875c1.6167,0 2.6875,-1.0708 2.6875,-2.6875v-5.375c0,-1.6167 -1.0708,-2.6875 -2.6875,-2.6875zM86,139.75c-1.6167,0 -2.6875,1.0708 -2.6875,2.6875v5.375c0,1.6167 1.0708,2.6875 2.6875,2.6875c1.6167,0 2.6875,-1.0708 2.6875,-2.6875v-5.375c0,-1.6167 -1.0708,-2.6875 -2.6875,-2.6875zM99.4375,139.75c-1.6167,0 -2.6875,1.0708 -2.6875,2.6875v5.375c0,1.6167 1.0708,2.6875 2.6875,2.6875c1.6167,0 2.6875,-1.0708 2.6875,-2.6875v-5.375c0,-1.6167 -1.0708,-2.6875 -2.6875,-2.6875zM112.875,139.75c-1.6167,0 -2.6875,1.0708 -2.6875,2.6875v5.375c0,1.6167 1.0708,2.6875 2.6875,2.6875c1.6167,0 2.6875,-1.0708 2.6875,-2.6875v-5.375c0,-1.6167 -1.0708,-2.6875 -2.6875,-2.6875zM126.3125,139.75c-1.6167,0 -2.6875,1.0708 -2.6875,2.6875v5.375c0,1.6167 1.0708,2.6875 2.6875,2.6875c1.6167,0 2.6875,-1.0708 2.6875,-2.6875v-5.375c0,-1.6167 -1.0708,-2.6875 -2.6875,-2.6875zM139.75,139.75c-1.6167,0 -2.6875,1.0708 -2.6875,2.6875v5.375c0,1.6167 1.0708,2.6875 2.6875,2.6875c1.6167,0 2.6875,-1.0708 2.6875,-2.6875v-5.375c0,-1.6167 -1.0708,-2.6875 -2.6875,-2.6875z"></path></g></g></svg>
        </div>
        <div class="d-flex justify-content-center text2">
            <p>Nous contrôlons, catégorisons, lavons et séchons votre linge</p>
        </div>
        <div class="d-flex justify-content-center icon">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                 width="50" height="50"
                 viewBox="0 0 172 172"
                 style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#b3572e"><path d="M65.36,17.2c-1.24059,-0.01754 -2.39452,0.63425 -3.01993,1.7058c-0.62541,1.07155 -0.62541,2.39684 0,3.46839c0.62541,1.07155 1.77935,1.72335 3.01993,1.7058h61.07344c10.52248,0 19.31124,7.84426 20.50563,18.29515l3.02344,26.42485h-74.86031c-24.05248,0 -45.36054,14.42924 -54.29422,36.75828l-13.50469,33.74828c-0.6247,1.07101 -0.62479,2.39531 -0.00022,3.4664c0.62457,1.07109 1.77716,1.72324 3.01694,1.70704h151.36c0.48413,-0.00086 0.96263,-0.10388 1.40422,-0.30235c0.4343,-0.19564 0.82324,-0.47934 1.14219,-0.83312c0.00551,-0.0061 0.01469,-0.0073 0.02016,-0.01344c0.00546,-0.00613 0.00802,-0.014 0.01344,-0.02016c0.31234,-0.35566 0.54793,-0.77194 0.69203,-1.22281c0.00224,-0.00224 0.00448,-0.00448 0.00672,-0.00672c0.00068,-0.00213 -0.00067,-0.00459 0,-0.00672c0.14637,-0.45965 0.19444,-0.94494 0.1411,-1.42437l-11.3211,-99.05453c-1.58513,-13.8699 -13.38187,-24.39578 -27.34531,-24.39578zM79.12,99.76c3.8012,0 6.88,3.0788 6.88,6.88c0,3.8012 -3.0788,6.88 -6.88,6.88c-3.8012,0 -6.88,-3.0788 -6.88,-6.88c0,-3.8012 3.0788,-6.88 6.88,-6.88zM106.64,99.76c3.8012,0 6.88,3.0788 6.88,6.88c0,3.8012 -3.0788,6.88 -6.88,6.88c-3.8012,0 -6.88,-3.0788 -6.88,-6.88c0,-3.8012 3.0788,-6.88 6.88,-6.88z"></path></g></g></svg>
        </div>
        <div class="d-flex justify-content-center text2">
            <p>Nous plions ou repassons, selon la formule choisie</p>
        </div>
        <div class="d-flex justify-content-center icon">
            <i class="fas fa-shopping-basket fa-3x"></i>
        </div>
        <div class="d-flex justify-content-center text2">
            <p>Retour de votre panière avec votre linge prêt, chez vous!</p>
        </div>
    </div>
    <div>
        <div class="d-flex justify-content-center instruction3">
            <h2>TEXTILES NON ADMIS</h2>
        </div>
        <div class="text-center instruction3">
            <p>Les cuirs, les manteaux, les costumes, les robes delicates, les couettes, les oreillers.
                Tout textile qui requière un soin particulier, un (premier) nettoyage à froid, un (premier) lavage à la
                main ou encore une prestation de pressing minutieuse, ne sera pas pris en compte.
            </p>
            <p>
                <b>Les dommages causés de non respect de ces règles ne seront pas couverts par BIKE À LINGE.</b>
            </p>
        </div>
    </div>
    <div class="col-md-12 instruction2">
        <div class="d-flex justify-content-center text2">
            <h3>DU LUNDI AU SAMEDI</h3>
        </div>
        <div class="d-flex justify-content-center  conditions">
            <p>*Prix de la prestation TTC de chaque formule pour une panière de linge sale de 0 à 7kg sec, assurance
                incluse</p>
        </div>
    </div>

{% endblock %}
