{% extends 'base.html.twig' %}

{% block title %}Hello OfferController!{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <h1>Comment ça marche ?</h1>
    </div>
    <div style="background-color: #65AED2">
        <div class="d-flex justify-content-center">
            <p>2</p>
        </div>
        <div class="d-flex justify-content-center">
            <p>Formules aux choix</p>
        </div>
        <div class="col-md-12 row">
            <div class="col-md-6 card-body bg-light">
                <div class="d-flex justify-content-center">
                    <h2>FORMULE BICYCLE</h2>
                </div>
                <div class="d-flex justify-content-center">
                    <p>12€</p>
                </div>
                <div class="d-flex justify-content-center">
                    <p>7kg de linge</p>
                </div>
                <div class="d-flex justify-content-center">
                    <p>Lavé, séché, PLIÉ & livré</p>
                </div>
            </div>
            <div class="col-md-6 card-body bg-light">
                <div class="d-flex justify-content-center">
                    <h2>FORMULE TRICYCLE</h2>
                </div>
                <div class="d-flex justify-content-center">
                    <p>15€</p>
                </div>
                <div class="d-flex justify-content-center">
                    <p>7kg de linge</p>
                </div>
                <div class="d-flex justify-content-center">
                    <p>Lavé, séché, REPASSÉ & livré</p>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <p>Vous nous appelez au 06 23 37 94 61</p>
        </div>
        <div class="d-flex justify-content-center">
            <p>Nous convenons ensemble d'un point de collecte ainsi que d'une date et une heure de retour de votre
                panière*</p>
        </div>
        <div class="d-flex justify-content-center">
            <p>Nous contrôlons, catégorisons, lavons et séchons votre linge</p>
        </div>
        <div class="d-flex justify-content-center">
            <p>Nous plions ou repassons, selon la formule choisie</p>
        </div>
        <div class="d-flex justify-content-center">
            <p>Retour de votre panière avec votre linge prêt, chez vous!</p>
        </div>
        <div class="d-flex justify-content-center">
            <h3>DU LUNDI AU SAMEDI</h3>
        </div>
        <div class="d-flex justify-content-center">
            <p>*Prix de la prestation TTC de chaque formule pour une panière de linge sale de 0 à 7kg sec, assurance
                incluse</p>
        </div>
    </div>
    <div>
        <div class="d-flex justify-content-center">
            <h2>TEXTILES NON ADMIS</h2>
        </div>
        <div class="text-center">
            <p>Les cuirs, les manteaux, les costumes, les robes delicates, les couettes, les oreillers.
                Tout textile qui requière un soin particulier, un (premier) nettoyage à froid, un (premier) lavage à la
                main ou encore une prestation de pressing minutieuse, ne sera pas pris en compte.
            </p>
        </div>
        <div class="d-flex justify-content-center">
            <p>
                <b>Les dommages causés de non respect de ces règles ne seront pas couverts par BIKE À LINGE.</b>
            </p>
        </div>
    </div>

{% endblock %}
