{% extends 'base.html.twig' %}

{% block title %}Edit Clothe{% endblock %}

{% block body %}
    <h1>Edit Clothe</h1>

    {{ include('clothe/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('clothe_index') }}">back to list</a>

    {{ include('clothe/_delete_form.html.twig') }}
{% endblock %}
