{% extends 'base.html.twig' %}

{% block title %}Clothe index{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center d-inline-block clothe-title">
        <h1>Contenu de la commande</h1>
    </div>
    <div class="clothe-form">
        <form action="{{ path('order_index') }}">
            <div class="container d-flex justify-content-around col-md-12">
                <div class="col-md-4 card-body card-clothe">

                    <div class="title-clothe">
                        <h2>Adultes</h2>
                    </div>
                    {% for clothe in clothes %}
                        <ul>
                            <li class="clothe-title2">{{ clothe.title }}</li>
                            <label>
                                <input type="number" min="0" max="100" value="0"/>
                            </label>
                        </ul>
                    {% endfor %}
                </div>
                <div class="col-md-4 card-body card-clothe">
                    <div class="title-clothe">
                        <h2>Enfants</h2>
                    </div>
                    {% for clothe in clothes %}
                        <ul>
                            <li class="clothe-title2">{{ clothe.title }}</li>
                            <label>
                                <input type="number" min="0" max="100" value="0"/>
                            </label>
                        </ul>
                    {% endfor %}
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-center">
                <label for="">
                    <style>.btn {
                            background-color: #B2562D;
                            color: white;
                        !important;
                        }</style>
                    <button type="submit" class="btn">Suivant</button>
                </label>
            </div>
        </form>
    </div>
{% endblock %}
