{% extends 'base.html.twig' %}

{% block title %}New Clothe{% endblock %}

{% block body %}
    <h1>Create new Clothe</h1>

    {{ include('clothe/_form.html.twig') }}

    <a href="{{ path('clothe_index') }}">back to list</a>
{% endblock %}
