{% extends 'base.html.twig' %}

{% block title %}Bike à linge{% endblock %}

{% block body %}
    <div class="container-fluid" style="padding: 0">
        <img src="{{ asset('home1.jpg') }}" alt="" width="100%">
    </div>
    <div class="example-wrapper">
        <h1>Bike à linge</h1>
    </div>
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.email }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}



{% endblock %}
