{% extends 'base.html.twig' %}

{% block title %}Bike à linge{% endblock %}

{% block body %}

<div class="home-screen">
    <div class="container-fluid home-image">
        <img src="{{ asset('build/home1.jpg') }}" alt="" class="img-home">
    </div>
    <div class="img-text">
        <h2>VOTRE LINGE LAVÉ, SÉCHÉ
            & REPASSÉ EN 24H CHRONO*!
        </h2>
        <p>*Retrait et livraison inclus</p>
    </div>
</div>

<div class="offer">
    <p>Comment ça marche</p>
</div>

{% endblock %}
