{% extends 'base.html.twig' %}

{% block title %}Bike à linge{% endblock %}

{% block body %}
    <div style="position:relative">
        <div class="container-fluid" style="padding: 0; position:absolute;z-index:1">
            <img src="{{ asset('home1.jpg') }}" alt="" width="100%">
        </div>
        <div style="position:absolute;  z-index:2; margin-top: 60px; margin-left: 30px">
            <h2>VOTRE LINGE LAVÉ, SÉCHÉ
                & REPASSÉ EN 24H CHRONO*!
            </h2>
            <p>*Retrait et livraison inclus</p>
        </div>
    </div>
    <div class="container" style="z-index: 99">
        <h2>Comment ça marche ?</h2>
    </div>


{% endblock %}
