.img-article{
  width: 400px;
  height: 400px;
  border-radius: 20px;
}
.block-actu{
  margin: 20px;
}
.card-actu{
  border-radius: 20px;
  border: solid 1px black;
  margin: 40px
}

.title-actu{
  padding: 40px;
}