.title-formule{
  padding: 40px;
}
.formule-form{
  background-color: #65AED2;
  padding: 40px;
}
.card-formule{
  background-color: #293778;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}