.menu{
  color: black;
  font-size: 20px;
}
.bck1{
  padding: 0;
}
.logo{
  width: 80px;
  height: 80px;
}
.connect{
  color: black;
  font-size: 15px;
}
.nav-footer{
  padding: 20px;
  a{
    color: white;
  }
}
.copyright{
  color: white;
}
.footer{
  list-style-type: none;
  color: white;
  font-size: 20px;
  padding: 0;
}
.contact{
  font-size: 30px;
  color: black;
}
.social{
  color: blue;
}
.contact2 {
  padding: 8px;
}