
.formules{
  padding: 20px;

}
.number1{
  font-size: 30px;
  color: white;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
}
.text{
  padding: 40px;
}
.text-formules{
  font-size: 30px;
  font-weight: bold;
}
.cards{
  padding: 0;
  margin: 0;
}
.card-offer{
  margin: 30px;
  padding: 20px;
  border-radius: 20px;
  font-weight: bold;
  border: 5px grey solid;
}
.price{
  font-size: 30px;
}
.icon{
  color: #B3572E;
  padding: 10px;
}
.text2{
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
}
.instruction{
}
.instruction2{
  color: black;
}
.instruction3{
  padding: 20px;
}
.conditions{
  font-size: 10px;
}