
.formules{
  padding: 20px;
  background-color: #65AED2;
  color: #B3572E;
}
.number1{
  font-size: 30px;
  color: white;
  background-color: #B3572E;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
}
.number{
  background-color: #65AED2;
  padding: 20px;
}
.text{
  padding: 40px;
}
.text-formules{
  font-size: 30px;
  background-color: #65AED2;
  font-weight: bold;
}
.cards{
  background-color: #65AED2;
  padding: 0;
  margin: 0;
}
.card-offer{
  margin: 30px;
  padding: 20px;
  background-color: #293778;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}
.price{
  font-size: 30px;
}
.icon{
  color: #B3572E;
  padding: 10px;
}
.text2{
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
}
.instruction{
  background-color: #65AED2;
}
.instruction2{
  background-color: #65AED2;
  color: white;
}
.instruction3{
  padding: 20px;
}
.conditions{
  font-size: 10px;
}