.card-order {
  background-color: #293778;
  border-radius: 20px;
  color: white;
  padding: 20px;
}

.payment {
  background-color: #65AED2;
}

.order-title {
  padding: 40px;
}

.listrecap {
  li {
    list-style-type: none;
  }
}