{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="col-md-12 customer-service">
        <img class="img-sc" src="{{ asset('build/Service-client.jpg') }}" alt="service-client">
    </div>

    <div class="col-md-12 d-flex justify-content-center instruction-sc">
        <p>UNE QUESTION ? BESOIN DE PASSER COMMANDE ?</p>
    </div>
    <div class="col-md-12 d-flex justify-content-center instruction-sc">
        <p>APPELEZ NOUS OU ENVOYEZ NOUS UN SMS AU 06.23.37.94.61</p>
    </div>
    <div class="col-md-12 d-flex justify-content-center instruction-sc">
        <p>VOUS POUVEZ EGALEMENT NOUS JOINDRE PAR MAIL</p>
    </div>
    <hr>
    <div class="d-flex justify-content-center instruction-sc">
        <h1>Nous contacter</h1>
    </div>
    <div class="d-flex justify-content-center form-contact">
        <div class="col-md-4 card-body bg-light card-contact">
            {{ form_widget(contactForm) }}
        </div>
    </div>
{% endblock %}
