<form method="post" action="{{ path('mean_of_paiement_delete', {'id': mean_of_paiement.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mean_of_paiement.id) }}">
    <button class="btn">Delete</button>
</form>
