{% extends 'base.html.twig' %}

{% block title %}New MeanOfPaiement{% endblock %}

{% block body %}
    <h1>Create new MeanOfPaiement</h1>

    {{ include('mean_of_paiement/_form.html.twig') }}

    <a href="{{ path('mean_of_paiement_index') }}">back to list</a>
{% endblock %}
