{% extends 'base.html.twig' %}

{% block title %}Formule index{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center title-formule">
        <h1>Choisir une formule</h1>
    </div>
    <form action="{{ path('clothe_index') }}" class="formule-form">
        <div class="col-md-12 d-flex justify-content-around row">
            <div class="col-md-4 card-body card-formule">
                <label>
                    <input type="radio">
                    <div class="d-flex justify-content-center">
                        <h2>FORMULE BICYCLE</h2>
                    </div>
                    <div class="price">
                        <p>12€</p>
                    </div>
                    <div>
                        <p>7kg de linge</p>
                    </div>
                    <div>
                        <p>Lavé, séché, PLIÉ & livré</p>
                    </div>
                </label>
            </div>
            <div class="col-md-4 card-body card-formule">
                <label>
                    <input type="radio">
                    <div class="d-flex align-items-center">
                        <h2>FORMULE TRICYCLE</h2>
                    </div>
                    <div class="price">
                        <p>15€</p>
                    </div>
                    <div>
                        <p>7kg de linge</p>
                    </div>
                    <div>
                        <p>Lavé, séché, REPASSÉ & livré</p>
                    </div>
                </label>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <label>
                <style>.btn{background-color:#B2562D; color: white; !important;}</style><button type="submit" class="btn">Suivant</button>
            </label>
        </div>
    </form>



{% endblock %}
