{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="d-flex justify-content-center card-body">
    <button class="btn btn-primary">{{ button_label|default('Suivant') }}</button>
</div>
{{ form_end(form) }}
