{% extends 'base.html.twig' %}

{% block title %}Order index{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <h1>Récapitulatif de votre commande</h1>
    </div>
    <div class="card-body bg-light">
        <form action="">
            <div class="d-flex justify-content-center">
                <p>Total:</p>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Payer</button>
            </div>
        </form>
    </div>
{% endblock %}
