{% extends 'base.html.twig' %}

{% block title %}Choisissez une formule{% endblock %}

{% block body %}
    <div class="col-md-12 d-flex justify-content-center">
        <div class="col-md-6 card-body bg-light card-formule">
            <div class="d-flex justify-content-center">
                <h1>Choisissez une formule</h1>
            </div>
            <div class="card-body">
                {{ include('order/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
