<form method="post" action="{{ path('order_has_clothe_delete', {'id': order_has_clothe.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ order_has_clothe.id) }}">
    <button class="btn">Delete</button>
</form>
